<div class="container">
    <div class="center">
        <h1>#Squad</h1>
        <h3>Cup o' JavaScript</h3>
        <img style="height: 600px; width: 900px" src="img/cup_o_javascript_squad.JPG">
        <ul>
            <li><i class="material-icons">perm_identity</i><a href="https://github.com/DaniluR">Danilu Ramirez</a></li>
            <li><i class="material-icons">perm_identity</i><a href="https://github.com/LouisM11">Louis Muratalla</a></li>
            <li><i class="material-icons">perm_identity</i><a href="https://github.com/S-C-M">Serg.io Castaneda</a></li>
            <li><i class="material-icons">perm_identity</i><a href="https://github.com/Sefu9090">Saul Fernandez</a></li>
        </ul>        
    </div>    
</div>
