<!doctype html>
<html>
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <title>CommuniLink</title>
      <!-- Compiled and minified CSS -->
      <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">-->
    
      <!-- Compiled and minified JavaScript -->
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>-->
      <link href="img/wifound-logo.png" rel="shortcut icon">
    </head>
  <body>
    <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <img src="img/wifound-logo.png" class="img">
      <a id="logo-container" href="/" class="brand-logo">CommuniLink</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/openDataEvents">Community Events</a></li>
        <li><a href="/about">About Us</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/openDataEvents">Community Events</a></li>
        <li><a href="/about">About Us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2 ">CommuniLink</h1>
        <div class="row center">
          <h5 class="header col s12 light beginning">A public forum to discuss and post activities for all age groups.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background1.jpeg" alt="Unsplashed background img 1"></div>
  </div>



  
<div></div>


  <div>
    <%= yield %>
    
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact Information</h5>
          <p class="grey-text text-lighten-4">We are a team of highschool students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <ul>
            <!-- <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Danilu Ramirez </a></li>
            <li><a class="white-text" href="#!">Louis Muratalla</a></li>
            <li><a class="white-text" href="#!">Saul Fernandez</a></li>
            <li><a class="white-text" href="https://github.com/S-C-M">Sergio Castañeda</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="white-text text-lighten-3"> Made by Cup O' Javascript</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
